body
  background: #eee
  color: #555
  box-sizing: border-box
  font-family: Helvetica, sans-serif

*
  margin: 0
  padding: 0

h1,h2
  margin: 20px


.controls
  margin: 20px

  label
    font-size: 75%
    display: inline-block
    width: 200px
    select, input
      display: block
      margin-top: 5px